



.comunityHomePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F4EF; 
    
    width: 100vw;
    max-width: 430px;
    height: 100%;
    padding-bottom: 15vh;
}

/* .cate_list ul{
    width: 95%;
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 4px rgb(182, 182, 182);
    margin: 10px;
    padding: 10px 5px;
}
.cate_list li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
} */

.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.category > p {
    font-size: 10px;
    color: #40300E;
    margin:  0px 5px;
}




.comunityHomePage_add{
    background-color:  white;
    border-radius: 20px;
    box-shadow: 0px 5px 4px rgb(182, 182, 182);
    margin: 15px;
    padding: 0px 10px;
}

.comunityHomePage_contents{
    width: 95%;
    margin: 15px;
    background-color: white;
    box-shadow: 0px 5px 4px rgb(182, 182, 182);
    border-radius: 10px;
    padding: 10px 5px;
}


.comunityHomePage_option{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    border-bottom: solid 2px rgb(179, 179, 179);
}
.comunityHomePage_option > button{
    background-color: #ffffff00;
    border: none;
    font-weight: bold;
}
.button {
    cursor: pointer;
}





/*  ↑ 여기까지가 커뮤니티 홈 페이지 */
/*  ↑ 여기까지가 커뮤니티 홈 페이지 */

