

.SignUpPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F5F4EF;
}
.IdFindPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F5F4EF;
}
.PasswordFindPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F5F4EF;
}

.login_title{
    background-color: rgb(255, 225, 56);
    border-radius: 20px;
    padding: 20px;
}
.login_title > h1{
    margin: 0;
}


.backgroundbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50vw;
    
    border-radius: 30px;
    margin:  20px;
    padding: 30px;
    box-shadow: 0px 0px 7px  rgb(192, 189, 180);
}

.userInfo{
    width: 100%;
}

.inputDiv{
    display: flex;
    flex-direction: column;

}


form{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.inputSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: 20px;
}



.A{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    margin: 5px;
}




p{
    margin:0;
}

#idCheck{
    height: 20px;
    margin: 5px;
}

#signupBtn{
    background-color: antiquewhite;
    border: none;
}

#findBtn{
    background-color: rgb(255, 225, 56);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}