


.realCalender{
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    width: 86%;
    box-shadow: 0px 2px 3px gray;
}

.realCalendar_Btns{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.calendarPop_black{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #41494f3c;
    height: 200vh;

}


.calendar_rangePopupDiv.checked {
    
    bottom: 9vh;
 }

.calendar_rangePopupDiv{
    z-index: 5;
    background-image: url('../위젯 팝업 패턴.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    max-width: 380px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    bottom: -40vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: bottom 0.3s ease; 

    /*
    z-index: 5;
    width: 95vw;
    max-width: 420px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    position: fixed;
    top: 65vh;

    display: flex;
    flex-direction: column;
    align-items: center;
*/
}

.calendarPop_title{
    margin-top: 15px;
    margin-bottom: 10px;

    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calendarPop_title > p {
    margin:0;
    font-size: 12px;
}



.calendarPop_range{
    width: 90%;
    min-height: 130px;
    height: 70%;
    margin-bottom: 5px;
}




.calenderPop_date{
    width: 95%;
    border: dashed 1px #66593E;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.calenderPop_date > div{
    margin-right: 0;
}


.calendarPop_emoji{
    width: 90%;
    min-height: 100px;
    height: 60%;
    margin-bottom: 5px;
}

.calendarPop_emoji > .css-1yuhvjn{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
}


.calendarPop_range > .css-1yuhvjn{
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95%;
}

.calendarPop_colors{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    box-shadow: 0px 2px 3px gray;
}
.calendarPop_color{
    border: soild 1px black;
    width: 20px;
    height: 20px;
    border-radius: 100px;
}


.calendarPop_Btn{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}
.calendarPop_Btn > button {
    width: 35%;
    height: 90%;
    border: none;
    border-radius: 15px;
    background-color: #FFE14F;

    color: #40300E;
    font-size: 10px;
}



.calendarPop_emojis{
    padding: 5px 10px;
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.todayEmoji_up{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.todayEmoji_down{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

.todayEmojiDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;

    width: 30px;
    height: 30px;
    margin: 0px 6px;
}
