
/* 아래는 기본 */


body{
    margin: 0;  
    background-color: #F5F4EF;  
}

.screen_main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4EF;
  
}



.writeBtn {
    border: none;
    border-radius: 100%;
    padding: 0px;
    width: max-content; 
    height:  max-content; 

    position: fixed;
    top: 75vh;
    right: 5vw;
}



/* 아래는 게시글 썸네일  */


#thum{
    width: 100%;
    height: 100%;
}

Link {
    text-decoration: none;
}

.Thumnail_content{
    border-bottom: solid 2px  rgb(229, 229, 229);
    width: 85%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0px 10px 0px 10px;
}

.Thumnail_Img{
    
    border-radius: 15px;
    width: 18%;
    height: 100%;
}


.info{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
}

.info_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info_top > .title{
    font-size: 13px;
    color: black;
    font-weight: bold;
}
.cate{
    color:#bbbbbb;
}


.info_mid > p{
    color:#bbbbbb;
    margin: 10px 0px 5px 0px;
}

.info_bottom{
    display: flex;
    flex-direction: row;

}

.info_bottom_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_bottom_left > p {
    margin: 0px 5px;
    font-size: 12px;
    height: max-content;
}

.good{
    color:#ff5656;

}
.respones{
    color:#98BB85;
}

.info_bottom_right{
    
    display: flex;
    flex-direction: row;
}
.info_bottom_right > p{
    font-size:smaller;
    color:#bbbbbb;
    margin: 2px;
}




/* 아래는 광고 */


.add{
    margin: 15px;
    width: 95%;
    height: 60px;
    background-color: rgb(221, 221, 221);
    box-shadow: 0px 2px 5px rgb(182, 178, 175);
    border-radius: 10px;
    text-align: center;
}
#ex {
    padding: 10px;
    color:#b9b9b9;
    font-weight: bold;
}

@font-face {
    font-family: "Prompt";
    src: url(./fonts/Prompt-SemiBold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Prompt_ExtraBold";
    src: url(./fonts/Prompt-ExtraBold.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Prompt_Black";
    src: url(./fonts/Prompt-Black.ttf) format("truetype");
  }
  
  @font-face {
    font-family: "Pretendard_SemiBold";
    src: url(./fonts/Pretendard-SemiBold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_ExtraBold";
    src: url(./fonts/Pretendard-ExtraBold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Black";
    src: url(./fonts/Pretendard-Black.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Bold";
    src: url(./fonts/Pretendard-Bold.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_ExtraLight";
    src: url(./fonts/Pretendard-ExtraLight.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_ExtraLight";
    src: url(./fonts/Pretendard-ExtraLight.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Light";
    src: url(./fonts/Pretendard-Light.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Medium";
    src: url(./fonts/Pretendard-Medium.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Thin";
    src: url(./fonts/Pretendard-Thin.woff) format("woff");
  }
  
  @font-face {
    font-family: "Pretendard_Regular";
    src: url(./fonts/Pretendard-Regular.woff) format("woff");
  }